.body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
}
/*.logo{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    text-align: center;
}*/
.droite{
    float: right;
    text-decoration: none;
    justify-content: space-between;
    display:flex ;
   
    
}.droite a {
    display: inline-block;
    margin-left: 10px ;
    padding-left: 60px;
    padding-right: 20px;
    color: black;
   /* transition: color .3s;*/
    text-decoration: none;
    font-weight: bolder;
}
.droite a:hover,
.droite.active{
    color: #ce0033;
    background:  white ;

}
button{
    color: white;
    background-color: #ce0033;
    border:1px solid  #ce0033 ;
    border-radius: 30px;
    font-size: 15px;
}
.recherche{
    margin-right: 100px;
    text-decoration: none;
}
.choix{
    text-decoration: none;
    border: 0;
    font-weight: bolder;
    color: #ce0033;
}
.femme{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    border-radius: 20%;
    justify-content: center;
    margin-top: 50px;
    justify-content: space-around;
    margin-left: 80px;
 
}
img{
  /*  border: solid 1px;*/
 
    border-radius: 10%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;

    

}
.title{
    color: #ce0033;
   
}
.description{
    background-color: rgb(255, 255, 255);
    float: right;
    font-size: 22px;
    margin-right: 30px;
    width: 29%;
    margin-right: 90px;
 
}


